.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rdb
*.rdx
*.RData
*.png
Working_Document_July_2017_cache/html/__packages
Working_Document_Extended_Batschelet_Fall_2017_cache/html/__packages
*.Rproj
Working_Document_Extended_Batschelet_Fall_2017.html
Working_Document_Extended_Batschelet_Fall_2017.html
*.html
*.html
*.html
*.rds
*.toc
*.gz
*.log
*.bbl
*.pdf
Article/FlexibleModelingOfSaccadeDirectionDistributions-concordance.tex
*.aux
*.out
*.tikz
Article/FlexibleModelingOfSaccadeDirectionDistributions-tikzDictionary
Article/cache/__packages
*.blg
*.synctex(busy)
Article/memo_cache/1f7987c53e65f0a0
Article/memo_cache/23b233d861cabd13
Article/memo_cache/2b32d4885b26c45c
Article/memo_cache/3cebe132c6f41fb9
*.jpg
*.nav
*.snm
Slides/Flexible_modeling_saccade_directions_Cmstatistics_2017-tikzDictionary
Slides/Flexible_modeling_saccade_directions_Cmstatistics_2017_4by3-concordance.tex
Slides/Flexible_modeling_saccade_directions_Cmstatistics_2017-concordance.tex
Data/data_bobby/180108_data.csv
Data/data_bobby/var_codebook.xlsx
Analysis_BS_cache/html/__packages
Article/old_caches/memo_cache/1f7987c53e65f0a0
Article/old_caches/memo_cache/23b233d861cabd13
Article/old_caches/cache/__packages
Article/old_caches/memo_cache/2b32d4885b26c45c
Article/old_caches/memo_cache/3cebe132c6f41fb9
